cd ..# Package Files
*.jaк

# Builds
out/*
*.class

#Log Files
*.log

# Virtual machine crash logs
hs_err_pid*

# Builds
target/*
*.class

# IntelliJ IDEA Files
.idea/*
*.iml

# All Hidden
.*

# Exclusions FIiles
!.gitignore
